<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tool 
	http://www.springframework.org/schema/tool/spring-tool.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <bean name="swaggerConfig" class="cn.springmvc.onlyo.swaggerTest.SwaggerConfig"/>
    <!--
        <context:property-placeholder location="classpath:conf/swaggerPackage.properties"/>
    -->

    <import resource="classpath:spring-mvc.xml"/>
    <import resource="classpath:spring-db.xml"/>
<!--
    <import resource="classpath:spring-ehcache.xml"/>
-->


    <!--使用spring的异步@Async简单定义方式 -->
    <!--  <task:annotation-driven />  -->
    <!--异步定义推荐方式  -->
    <task:executor id="executor" pool-size="15"/>
    <task:scheduler id="scheduler" pool-size="30"/>
    <task:annotation-driven executor="executor" scheduler="scheduler"/>
</beans>
